main.container {
  padding: 30px 30px;
}

.navbar {
  padding: 10px 10px;
}

h1 {
  text-align: center;
}

#myChart {
  overflow-x: scroll;
}

#planetInfo {
  position: absolute;
  background: white;
  border: 1px solid black;
  top: 300px;
  right: 100px;
  padding: 50px;
}

div.tooltip {
  position: absolute;
  white-space: pre-wrap;
  text-align: center;
  width: 150px;
  height: 100px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
